{% extends 'base.html' %}

{% block content %}
<h1>Seguimiento de Tareas</h1>
<a href="{% url 'crear_seguimiento' %}" class="btn btn-primary">Crear Tarea</a>
<ul class="list-group mt-3">
    {% for seguimiento in seguimientos %}
        <li class="list-group-item">
            {{ seguimiento.tarea }} - {{ seguimiento.fecha_limite }}
            <a href="{% url 'editar_seguimiento' seguimiento.id %}" class="btn btn-sm btn-warning">Editar</a>
            <a href="{% url 'eliminar_seguimiento' seguimiento.id %}" class="btn btn-sm btn-danger">Eliminar</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}